services:
  pg:
    image: postgres
    environment:
      POSTGRES_DB: db_fastapi
      POSTGRES_USER: user_fastapi
      POSTGRES_PASSWORD: password_fastapi
    ports:
      - "5432:5432"

    volumes:
      - "db_fastapi:/var/lib/postgresql/data"

  rabbitmq:
    image: rabbitmq:3-management-alpine
    hostname: rabbitmq
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq

  adminer:
    image: adminer
    ports:
      - "8080:8080"

volumes:
  db_fastapi:
    driver: local
  rabbitmq-data:
    driver: local
